<div class="shift-250 edit">
<h1>Edit Profile</h1>
<%= simple_form_for @user, url: profile_path(@user) do |f| %>
  <%= f.input :photo, as: :file, label: 'Change Profile Picture', required: false, class: 'btn btn-secondary mt-2' %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :bio %>
  <%= f.button :submit, 'Update Profile', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back to Profile', profile_path(@user), class: 'btn btn-secondary' %>
</div>
