<div class="navbar">
  <div class="navbar-align">
    <div class="links">
      <!-- Home Button (TapThat) -->
      <div class="tap-and-list">
        <%= link_to root_path, class: "navbar-brand" do %>
          <span class="tapthat">TapThat</span>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="list">
          <ul>
            <li class="list-items">Search</li>
            <li class="list-items"><%= link_to 'Explore', interests_path, class: "list-items-text" %></li>
            <li class="list-items">Inbox</li>
            <li class="list-items"><%= link_to 'New Post', new_post_path, class: "list-items-text" %></li>
          </ul>
        </div>
      <% end %>
    </div>

    <!-- Profile Image Link (if signed in) -->
    <div class="navbar-image">
      <% if user_signed_in? %>
        <ul class="">
          <li class="nav-item">
            <%= link_to user_path(current_user), class: "nav-link" do %>
              <%= image_tag current_user.profile_image_url, class: "rounded-circle", alt: "Profile Image", size: "30x30" %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
