<h1>Chat with <%= @chat.recipient == current_user ? @chat.sender.username : @chat.recipient.username %></h1>

<div id="messages">
  <% @messages.each do |message| %>
    <p>
      <strong><%= message.user.username %>:</strong> <%= message.content %>
    </p>
  <% end %>
</div>

<%= simple_form_for [@chat, Message.new], remote: true do |form| %>
  <%= form.input :content, as: :text, input_html: { rows: 2, placeholder: "Type a message..." } %>
  <%= form.button :submit, "Send" %>
<% end %>
